/* LOGO */
.logo {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6vh;
  margin: 1%;
}
.text__menu--logo {
  color: #6CDAF7;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.2em;
  margin: auto 10px auto 5px;

}

/* TEXT */



/*** KEYFRAMES ***/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
