/* LOGO */
.logo {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6vh;
  margin: 1% 1% 1% 2%;
}

/* TEXT */



/*** KEYFRAMES ***/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
