/* Fonts and Colors

font-family: 'Open Sans', sans-serif;
font-family: 'Abril Fatface', cursive;

blue: #6CDAF7;
dark grey: #222222;
*/

.App {

}
.box__margin--right {
  margin-right: 5vw;
  width: 35vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #274B14;
  border-radius: 60px 20px;
}
